/*<palette>
  <color name="Eerie black" hex="1B2018" r="27" g="32" b="24" />
  <color name="Sandy brown" hex="F7B073" r="247" g="176" b="115" />
  <color name="Isabelline" hex="F0E7E2" r="240" g="231" b="226" />
  <color name="Coyote" hex="75634F" r="117" g="99" b="79" />
  <color name="Drab dark brown" hex="494131" r="73" g="65" b="49" />
</palette>*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700&family=Rubik+Spray+Paint&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --color-eerieBlack: #1B2018;
    --color-sandyBrown: #F7B073;
    --color-isabelline: #F0E7E2;
    --color-coyote: #75634F;
    --color-drabDarkBrown: #494131;


    --font-family-default: 'Open Sans', sans-serif;
    --font-family-accent: Artemis;

    --max-width-desktop: 1920px;
    --max-width-tablet: 1024px;
    --max-width-mobile: 720px;
}

/* to use dynamic value
.element {
    background: var(--color-eerieBlack);
  }
*/

body {
    margin: 0;
    font-family: var(--font-family-accent);
}

#destinations,
#tips {
  height: 80vh;
  width: 100%;
  background-color: var(--color-isabelline);
}

#destinations {
  background-image: url(https://images.pexels.com/photos/6861167/pexels-photo-6861167.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#tips {
    display: flex;
    position: relative;
}

#tips img {
    width: 240px;
    position: absolute;
    z-index: 0;
}

.imgDish {
    top: 10%;
    left: 5%;
}

.imgBrush {
    left:35%;
    top: 25%;
}

.imgFood {
    left:75%;
    top: 20%;
}

.text {
    color: var(--color-isabelline);
    background-color: rgba(117, 99, 79, 0.6);
    width: 250px;
    height: 300px;
    box-shadow: 5px 5px 10px var(--color-eerieBlack);
    z-index: 1;
    backdrop-filter: blur(2px);
    align-content: center;
    display: flex;
    flex-direction: column;
    vertical-align: middle;

}
.text h1 {
    font-family: var(--font-family-accent);
    font-size: 1rem;
    text-align: center;
    padding-top: 20px;
}

.text p {
    font-family: var(--font-family-default);
    font-weight: 60;
    font-size: 0.8rem;
    width: 200px;
    text-align: justify;
    margin: 10px auto;
}

.textDish {
    position: absolute;
    top: 40%;
    left: 15%;
}

.textBrush {
    position: absolute;
    top: 10%;
    left: 47%;
}

.textFood {
    position: absolute;
    top: 45%;
    left: 62%;
}

footer {
  color: var(--color-isabelline);
  height: 40vh;
  width: 100%;
  background-color: var(--color-eerieBlack);
  justify-content: center;
  display: flex;
}

footer p {
    margin: 0;
}

.footerWrapper {
    width: 80%;
    height: 100%;
    display: flex;

}

.footerNewslettersWrapper {
    padding-top: 80px;
    width: 40%;
}

.footerNewsletters {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    width: 40%;
}

.footerNewsletters input {
    border: none;
    background: none;
    border-bottom: 1px solid var(--color-coyote);
    width: 80%;
    height: 1.5rem;
    margin-bottom: 20px;
}
.footerNewsletters input:focus-visible {
    outline: none;
    background: none;
    border-bottom: 2px solid var(--color-sandyBrown);
}

.footerNavigation {
    padding-top: 80px;
    padding-left: 20px;
    width: 15%;
}
.footerNavigation a {
    text-decoration: none;
    color: var(--color-isabelline);
}
.footerContacts {
    padding-top: 80px;
    padding-left: 20px;
    width: 25%;
}

.footerContacts svg {
    padding-right: 5px;
}

.footerWrapper h1 {
    font-size: 1.4rem;
    padding-bottom: 15px;
}

.footerWrapper p {
    padding-bottom: 10px;
}

.footerLogo {
    display: flex;
    width: 20%;
    align-items: center;
}

.footerLogo img {
    width: 150px;
}


/* HEADER STARTS HERE --> */

/* HEADER ENDS HERE <-- */

